<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
    <header></header>
    <main>
        <form action="/searches" method="POST">
       <input type="text" placeholder="Enter title or author" name="q"> 
       <label for="text">title<input type="checkbox" value="title" name="select"></label>
       <label for="author">author<input type="checkbox" value="author" name="select"></label>
       <button>search</button>
        </form>
  
    
    </main>
    <footer></footer>
    
</body>
</html>