<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <%- include ('./layout/head.ejs') %>
</head>
<body>
    
       <%- include ('./layout/header.ejs') %>
    
    <main>
        <h2>Search by Title or Author</h2>
        <form action="/searches" method="POST">
       <input type="text" placeholder="Enter title or author" name="q"> 
       <label for="text">title<input type="radio" value="title" name="select"></label>
       <label for="author">author<input type="radio" value="author" name="select"></label>
       <button>Search The Google Books API</button>
        </form>
        <div class="footer1">
            <span class="icon-ello"></span>
            <span class="icon-ello"></span>
            <span class="icon-ello"></span>
            <span class="icon-ello"></span>
        </div>
    
    </main>
    
    
</body>
</html>