<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search result</title>
    <%- include ('./layout/head.ejs') %>
</head>

<body>

    <%- include ('./layout/header.ejs') %>

    <main>
    <%- include ('./layout/section.ejs') %>
        
                <div class="footer">
                    <span class="icon-ello"></span>
                    <span class="icon-ello"></span>
                    <span class="icon-ello"></span>
                    <span class="icon-ello"></span>
                </div>
    </main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"></script>
<script src="/app.js"></script>

</body>

</html>