
<%data.forEach(val =>{%>
<div class="container">

    <% if(val.image){%>
    <img src="<%= val.image%>">
    <%}%>
                <h3 class="title"><%= val.title%></h3>
    <%if(val.authors[0]){%>
    <% val.authors.forEach(value =>{ %>
    <li class="auth"><%= value%></li>
    <% }); %>
    <%}%>
        <% if(val.description){%>
    <li class="desc"><%= val.description%></li>
    <%}%>
</div>
<% }); %>